@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('./fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
}

* {
	font-family: 'Ubuntu Mono', monospace;
	box-sizing: border-box;
}

:root {
	/* come colors are controlled by daisy UI theme */
	--board-bg-color: var(--color-base-200);
	--draw-color: var(--color-base-content);
	--selected-color: limegreen;
	--draft-edge-color: darkorange;
	--draft-edge-invalid-color: red;
	--selection-area-color: var(--color-secondary);
	--hover-shadow: oklch(from var(--draw-color) l c h / 0.8);
	--drop-shadow: drop-shadow(0 0 5px var(--hover-shadow));
	--draw-stroke-width: 2px;
}

input[type='text'] {
	height: auto;
	padding: 0.15rem 0.5rem;
}

.node.selectable:hover,
.node.in-selection-area,
.edge.selectable:hover,
.edge.in-selection-area {
	cursor: pointer;
}

.node.selectable:hover .node-path,
.edge.selectable:hover .edge-path,
.node.in-selection-area .node-path,
.edge.in-selection-area .edge-path {
	filter: var(--drop-shadow);
}

.node.selected,
.edge.selected {
	stroke: var(--selected-color);
	color: var(--selected-color);
}

.node:active .node-path,
.edge:active .edge-path {
	filter: brightness(120%);
}

.edge .select-area {
	stroke-width: 30px;
	opacity: 0; /* invisible, used purely for easier selection */
}

/* prevent text selection on SVG text elements, to avoid interfering with drag operations */
svg text {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.draft-edge {
	fill: none;
	color: var(--draft-edge-color);
	stroke: var(--draft-edge-color);
	stroke-width: 2px;
	stroke-dasharray: 5, 5;
}

.draft-edge.invalid {
	stroke: var(--draft-edge-invalid-color);
	color: var(--draft-edge-invalid-color);
}

.selection-area {
	fill: var(--selection-area-color);
	fill-opacity: 0.2;
	rx: 5px;
}

/* Animation for toast progress bar */
@keyframes expand {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
