@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('./fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
}

* {
	font-family: 'Ubuntu Mono', monospace;
	box-sizing: border-box;
	border-collapse: collapse;
}

:root {
	/* come colors are controlled by daisy UI theme */
	--board-bg-color: var(--color-base-200);
	--draw-color: var(--color-base-content);
	--selected-color: var(--color-info);
	--draft-edge-color: var(--color-warning);
	--invalid-color: var(--color-red-500);
	--success-color: var(--color-success);
	--highlight-color: var(--color-secondary);
	--selection-area-color: var(--color-secondary);
	--hover-shadow: oklch(from var(--draw-color) l c h / 0.8);
	--drop-shadow: drop-shadow(0 0 5px var(--hover-shadow));
	--draw-stroke-width: 2px;
}

input[type='text'] {
	height: auto;
	padding: 0.15rem 0.5rem;
}

.node.selectable:hover,
.node.in-selection-area,
.edge.selectable:hover,
.edge.in-selection-area {
	cursor: pointer;
}

.node.selectable:hover .node-path,
.edge.selectable:hover .edge-path,
.node.in-selection-area .node-path,
.edge.in-selection-area .edge-path {
	filter: var(--drop-shadow);
}

.node.selected,
.edge.selected {
	stroke-width: 3px;
	stroke: var(--selected-color);
	color: var(--selected-color);
}

.node:active .node-path,
.edge:active .edge-path {
	filter: brightness(120%);
}

.edge .select-area {
	stroke-width: 30px;
	opacity: 0; /* invisible, used purely for easier selection */
}

/* prevent text selection on SVG text elements, to avoid interfering with drag operations */
svg text {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.draft-edge {
	fill: none;
	color: var(--draft-edge-color);
	stroke: var(--draft-edge-color);
	stroke-width: 2px;
	stroke-dasharray: 5, 5;
}

.draft-edge.invalid {
	stroke: var(--invalid-color);
	color: var(--invalid-color);
}

.selection-area {
	fill: var(--selection-area-color);
	fill-opacity: 0.2;
	rx: 5px;
}

.node.highlighted,
.node.highlighted .node-path {
	stroke: var(--highlight-color);
	color: var(--highlight-color);
}

.node.highlighted .node-label {
	fill: var(--highlight-color);
}

.transition.highlighted {
	fill: var(--highlight-color);
}

#start-edge.highlighted .edge-path {
	stroke: var(--highlight-color);
}

#start-edge.highlighted .arrowhead {
	color: var(--highlight-color);
}

.edge:has(.transition.highlighted) .edge-path {
	stroke: var(--highlight-color);
}
.edge:has(.transition.highlighted) .arrowhead {
	color: var(--highlight-color);
}

/* Simulation */

.node.invalid {
	stroke: var(--invalid-color);
	filter: drop-shadow(0 0 5px var(--invalid-color));
}

.node.invalid .node-label {
	fill: var(--invalid-color);
}

.node.input-accepted {
	stroke: var(--success-color);
	filter: drop-shadow(0 0 5px var(--success-color));
}

.node.input-accepted .node-label {
	fill: var(--success-color);
}

.node.active {
	stroke: var(--highlight-color);
	color: var(--highlight-color);
}

.node.active .node-label {
	fill: var(--highlight-color);
}

.transition.active {
	fill: var(--highlight-color);
}

.edge:has(.transition.active) .edge-path {
	stroke: var(--highlight-color);
}

.edge:has(.transition.active) .arrowhead {
	color: var(--highlight-color);
}

#start-edge.active .edge-path {
	stroke: var(--highlight-color);
}

#start-edge.active .arrowhead {
	color: var(--highlight-color);
}

/* Animation for toast progress bar */
@keyframes expand {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

#transition-table {
	text-align: center;
	cursor: default;
	--header-color: var(--color-base-300);
	--border-color: oklch(from var(--color-base-content) l c h / 0.2);
}

#transition-table * {
	color: var(--color-base-content);
	z-index: 0 !important;
}

#transition-table .invisible {
	visibility: hidden;
	border: none;
}

#transition-table td,
#transition-table th {
	padding: 0.5rem 1rem;
}

#transition-table .spacer {
	padding: 0.1rem; /* used to dictate height/width */
	width: 0px;
	min-width: 0px;
	max-width: 0px;
}

#transition-table .v-borders {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

#transition-table .h-borders {
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
}

#transition-table #table-header {
	position: sticky;
	top: 0;
	z-index: 10;
}

#transition-table .col-header-label,
#transition-table .col-header-symbol,
#transition-table .col-header-states,
#transition-table .col-header {
	background-color: var(--header-color);
}

#transition-table .col-header-label,
#transition-table .row-header-state {
	width: 1rem;
}

#transition-table .row-header-label {
	background-color: var(--header-color);
	writing-mode: sideways-lr;
	text-align: end;
	width: 1rem; /* just forces natural width */
	padding: 1rem 0.5rem;
}

#transition-table .row-header-label .states-label {
	position: sticky;
	top: 5rem;
	padding: 1rem 0.5rem;
}

#transition-table .transition-output-entry:hover,
#transition-table .col-header-symbol:hover,
#transition-table .row-header-state:hover {
	color: var(--highlight-color);
}

#transition-table .transition-output-entry {
	white-space: nowrap;
}
